<ion-view title="Boston Air | About" class="cover">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear button-light ion-navicon" ng-click="openMenuLeft()"></button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header backgrd" >
    <div class="container">
        <br>
        <div class="animated fadeInUp">
            <p class="fact">The goal of Boston Air is to bring the spirit of the heroic past, strong present and the bright future of one of the best cities in the world to people from all around the globe.</p>
        </div>
        <div class="animated fadeIn aboutvidframe">
          <img class="bottom-image" src="img/sky7.jpg" />
          <img class="top-image" src="img/sky5.jpg" />
        </div>
        
        <div class="fact animated fadeInUp">
          <p>Boston (pronounced /ˈbɒstən/) is a city that really feels like a town full of business people during the day and college kids at night. We're loyal to our teams and will kick your ass or yell at you if you don't love them too. We'll do this either sober or drunken. Most times it's better drunken though. Basically it's really funny to us.</p><br />
          <p><span class="funfact">Fun facts:</span> You only call Boston Beantown if you're not from here, and if you're getting a ride on a duck boat, don't quack at us. It's wicked annoying. Would you want to be quacked at every day?? I don't think so. It's cold here due to the fact that Boston is a freaking wind tunnel so we're already pissed off. 
          </p>
        </div>
    </div>
     
    <div class="holdab"></div>  
    <div class="bottom animated fadeIn">
          <p class="social">
              <a ui-sref="menu.contactUs" style="text-decoration: none;"><i>Contact us</i></a>  
              <a href="http://twitter.com/" target="_blank"><i class="icon ion-social-twitter-outline"></i></a>
              <a href="http://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook-outline"></i></a>
              <a href="http://instagram.com/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="http://plus.google.com/" target="_blank"><i class="icon ion-social-google-outline"></i></a>
              <a href="mailto:someone@example.com?Subject=Wazzap%20y'all"><i class="icon ion-ios-email-outline"></i></a>
          </p>
          <p class="love">2016 Boston Air. Created by <a class="creator" href="https://github.com/AydarF" target="_blank">Aydar Fayzullin</a></p>                    
    </div>  
    
    </ion-content>
</ion-view>