<ion-view title="Boston Air"> 
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear button-light ion-navicon" ng-click="openMenuLeft()"></button>
  </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header backgrd">
     <h1 class="tocenter animated fadeInDown">Summary</h1><br />
     <div class="animated fadeInUp animatedOverview">
         <p class="tocenter" style="font-size: 1.4em;">Congratulations! You bought your Boston air!</p>
    </div>

    <div class="holdover"></div>  
    <div class="bottom animated fadeIn">
          <p class="social">
              <a ui-sref="menu.contactUs" style="text-decoration: none;"><i>Contact us</i></a>  
              <a href="http://twitter.com/" target="_blank"><i class="icon ion-social-twitter-outline"></i></a>
              <a href="http://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook-outline"></i></a>
              <a href="http://instagram.com/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="http://plus.google.com/" target="_blank"><i class="icon ion-social-google-outline"></i></a>
          </p>
          <p class="love">2016 Boston Air. Created by <a class="creator" href="https://github.com/AydarF" target="_blank">Aydar Fayzullin</a></p>                    
    </div>
        <!-- <i class="icon ion-ios-heart-outline"></i> -->
    </ion-content>
</ion-view>