<ion-view hide-back-button="true" hide-nav-bar="true"> 
    <ion-content overflow-scroll="true" padding="true" has-header="false">
         <div class="container">
          <div class="text">
              <p class="animated fadeIn"><a ui-sref="menu.about">Boston Air</a></p> 
          </div>  
            <!-- <img class="video" src="img/ezgif.gif"> -->
            <video class="video" preload="auto" autoplay webkit-playsinline playsinline muted loop>
              <source src="img/cl.mp4">
            </video> 
        </div>

        </div>
    </ion-content>
</ion-view>