<ion-view title="Boston Air | Shop">
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header backgrd">
        <h2>Boston Air</h2>
        <div class="">
            <img class="animated fadeIn jar" src="img/jar.jpg" />
        </div>
        <div class="description">
            <p>Boston is a city so freakin' sweet that its basically the capital of not just Massachusetts but Maine, NH, Vermont, Conn. , & Rhode Island. Those people don't bother getting their own sports teams, because they don't really need or want to. What's the capital of Vermont anyway? Boston thats what. When the Pats lose...we riot & burn flipped-over cars. When the Pats win...we riot & burn flipped-over cars. 

            Boston is your my home.</p>
        </div>
        <div class="price">
            <p class="numberz">$25</p>
        </div>
        <a ui-sref="menu.productPageInShopPage" class="button button-block animated slideInUp">Tap me!</a><br>
        
        <h2>Cambridge Air</h2>
        <div class="">
            <img class=" animated fadeIn jar" src="img/jar2.jpg" />
        </div>
        <div class="description">
            <p>Cambridge is one of best place in the world: home of Hahvahd University, Hahvahd Square, MIT, and some really creepy people. It is the home of Ben Affleck, Matt Damon and other celebrities. And don't you dare to pahk yo cah in Hahvahd yahd!</p>
        </div>
        <div class="price">
            <p class="numberz">$25</p>
        </div>
        <a ui-sref="menu.productPage2InShopPage" class="button button-block animated slideInUp">Tap me!</a><br>
        
        <div class="holdsh"></div>
        <div class="dnishe animated fadeInDown">
            <p class="social">
              <a ui-sref="menu.contactUs" style="text-decoration: none;"><i>Contact us</i></a>  
              <a href="http://twitter.com/" target="_blank"><i class="icon ion-social-twitter-outline"></i></a>
              <a href="http://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook-outline"></i></a>
              <a href="http://instagram.com/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
              <a href="http://plus.google.com/" target="_blank"><i class="icon ion-social-google-outline"></i></a>
              <a href="mailto:someone@example.com?Subject=Wazzap%20y'all"><i class="icon ion-ios-email-outline"></i></a>
          </p>
          <p class="love">2016 Boston Air. Made with <i class="icon ion-ios-heart-outline"></i> by <a class="creator" href="https://github.com/AydarF" target="_blank">Aydar Fayzullin</a></p> 
        </div>
    </ion-content>    
</ion-view>